.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
*.DS_Store
*.rds

# LaTeX intermediate build files
*.aux
*.bbl
*.bcf
*.blg
*.ent
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.tikz
*.toc
